In [1]:
class Employee():
    pass

In [2]:
emp1 = Employee()
emp2 = Employee()

In [3]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x00000145467D15D0>
<__main__.Employee object at 0x00000145467D3F90>

In [4]:
emp1.first = 'Saurabh'
emp1.last = 'Deokar'
emp1.salary = 51000

emp2.first = 'Sanskruti'
emp2.last = 'kakade'
emp2.salary = 42000

In [5]:
print(emp1.first)

Saurabh

In [6]:
print(emp2.salary)

42000

In [7]:
print(emp1.last)

Deokar

In [8]:
print(emp2.first)

Sanskruti

In [9]:
print(emp1.salary)

51000

In [10]:
print(emp2.last)

kakade

In [17]:
class Employee():
    def __init__(self, first, last, salary):
        self.first = first
        self.last = last
        self.salary = salary

def show(self):
    print(self.first + ' ' + 'ok')

In [15]:
emp1 = Employee('Sanskrti', 'kakade', 78000)

In [14]:
print(emp1.first)

Sanskrti

In [19]:
emp2 = Employee('Sania', 'mulani', 78000)

In [26]:
class Employee():
    def __init__(self, first, last, salary):
        self.first = first
        self.last = last
        self.__salary = salary

def show(self):
    print(self.__salary)

In [22]:
emp1 = Employee('Saurabh', 'Deokar', 78000)
emp2 = Employee('Sanskrti', 'kakade', 68000)

In [23]:
print(emp1.first)

Saurabh

In [36]:
class Employee(emp1):
    pass

In [39]:
emp1 = Employee('Saurabh', 'Deokar', 78000)

TypeError: 'Employee' object is not callable

In [40]:
'''
#create a class called person
attribtes=>name, age, city,....(make use of default parameters also) create a method which will show all the info of a person.
'''

class person():
    def __init__(self, n, a=25):
        self.name=n
        self.age=a

def info(self):
    print('name', self.name)
    print('age', self.age)

In [ ]:
p1 = person(